body{
    background: linear-gradient(180deg, rgba(2,38,74,1) 0%, rgba(8,124,235,1) 52%, rgba(67,156,164,1) 100%);
    padding: 20px;
}
h1{
    color: white;
}
.row{
    background-color: #FFC37B;
    width: 600px;
    height: 700px;
    margin: 0 auto;
    border: 10px solid #CA6B17;
    border-radius: 6px;
    padding: 15px;
}
.container{
    margin-top: 70px;
    margin-bottom: 135px;
}
.col-5{
    background-color: red;
    padding: 0px;
}
.col-7{
    background-color: blue;
    padding: 0px;
}
.img_character{
    border: 7px solid #CA6B17;
    width: 100%;
    height: 300px;
    border-radius: 6px;
}