body{
    /* background: linear-gradient(180deg, rgba(2,38,74,1) 0%, rgba(8,124,235,1) 52%, rgba(67,156,164,1) 100%); */
    background-image: url("background.png");
    background-size: cover;
    padding: 20px;
}

h1{
    color: #bab5af;
    font-family: 'Stardew Valley Logo', sans-serif;
    font-size: 80px;
}
@font-face {
    font-family: 'Stardew Valley Logo';
    src: url('fonts/Stardew-Valley-All-Caps.ttf') format('truetype');
}
.row{
    background-color: #FFC37B;
    width: 600px;
    margin: 0 auto;
    border: 10px solid #CA6B17;
    border-radius: 6px;
    padding: 15px;
}
.container{
    margin-top: 70px;
    margin-bottom: 135px;
}
.col-5{
    padding: 0px;
    width: 35%;
}
.col-7{
    padding: 0px;
    margin-left: 3%;
    width: 62%;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img_character{
    border: 7px solid #CA6B17;
    width: 100%;
    height: 300px;
    border-radius: 6px;
    background-image: url("background2.png");
}

.img_character2{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-image: url("characterMan.png");
    background-size: cover;
}
#b_submit{
    border: 7px solid #CA6B17;
    width: 100%;
    height: 75px;
    background-color: #FFC37B;
    border-radius: 6px;
    font-size: 35px;
}
table, tr{
    width: 100%;
}
table td{
    padding: 10px 0px 10px 0px;
}

input[type=text]{
    width: 90%;
    margin-left: 10%;
    border: 7px solid #CA6B17;
    background-color: #FFC37B;
    border-radius: 6px;
}
input[type=checkbox]{
    margin-left: 15px;
}
.farm_div{
    border: 7px solid #CA6B17;
    width: 110px;
    height: 110px;
    border-radius: 6px;
}
img{
    width: 80px;
    height: 80px;
}

  input[type="radio"] {
    display: none;
  }

  .radio_label img {
    display: block;
    height: auto;
    border-radius: 8px;
  }

.radio_label {
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    transition: border-color 0.3s;
}

input[type="radio"]:checked + img {
    border: 5px solid #CA6B17; 
    border-radius: 15px;
    padding: 5px;
}

.img_character{
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
@font-face {
  font-family: 'Stardew Valley';
  src: url('fonts/StardewValley.ttf') format('truetype');
}

body {
  font-family: 'Stardew Valley', sans-serif;
}

input[type="checkbox"] {
    display: none;
}

/* Styl dla divów otaczających checkbox ------------------------------------------------------------------- */
.checkbox-container {
    background-color: #FFC37B;
    border: 2px solid #CA6B17;
    border-radius: 10px;
    padding: 10px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

/* Styl dla niezaznaczonego checkboxa (przycisk) */
#Combat2 {
    width: 30px;
    height: 30px;
    background-image: url("SwordBlock.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}


/* Zmiana koloru div przy zaznaczeniu */
input[type="checkbox"]:checked + #Combat3 {
    background-color: #a387d7; /* Zaznaczony: zielony */
    transform: scale(1.05); /* Lekko powiększony */
    border: 2px solid #370066;
}

/* Opcjonalne: tekst w div */
.checkbox-container span {
    margin-left: 10px;
}

/*--------------------------------------------------------------*/

#Mining2 {
    width: 30px;
    height: 30px;
    background-image: url("pickaxeBlock.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}


/* Zmiana koloru div przy zaznaczeniu */
input[type="checkbox"]:checked + #Mining3 {
    background-color: #a387d7; /* Zaznaczony: zielony */
    transform: scale(1.05); /* Lekko powiększony */
    border: 2px solid #370066;
}

/* Opcjonalne: tekst w div */
.checkbox-container span {
    margin-left: 10px;
}

/*--------------------------------------------------------------*/

#Mining2 {
    width: 30px;
    height: 30px;
    background-image: url("pickaxeBlock.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}


/* Zmiana koloru div przy zaznaczeniu */
input[type="checkbox"]:checked + #Mining3 {
    background-color: #a387d7; /* Zaznaczony: zielony */
    transform: scale(1.05); /* Lekko powiększony */
    border: 2px solid #370066;
}

/* Opcjonalne: tekst w div */
.checkbox-container span {
    margin-left: 10px;
}

/*--------------------------------------------------------------*/

#Mining2 {
    width: 30px;
    height: 30px;
    background-image: url("pickaxeBlock.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}


/* Zmiana koloru div przy zaznaczeniu */
input[type="checkbox"]:checked + #Mining3 {
    background-color: #a387d7; /* Zaznaczony: zielony */
    transform: scale(1.05); /* Lekko powiększony */
    border: 2px solid #370066;
}

/* Opcjonalne: tekst w div */
.checkbox-container span {
    margin-left: 10px;
}

/*----------------------------------------------------------------------------*/
#pickaxe, #sword, #rod, #can{
    visibility: hidden;
    background-color: #FFC37B;
    outline: 5px solid #CA6B17;
    border-radius: 3px;
    padding: 4px;
    float: left;
    width: 150px;
    margin-left: 10px;
}
.items{
    display: flex;
    margin-bottom: 20px;
}